* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

 :root {
    --vermelho: #DF412C;
    --branco: #FFFFFF;
    --cinza: #A19F9F;
    --preto: #000;
}


/*
Estilização da navbar
*/

.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    background-image: linear-gradient( to left, #df412c, #f55f71, #f986ac, #f4afd8, #f0d4f3, #eddaef, #eae0eb, #e7e6e7, #d5d4d5, #c4c2c2, #b2b0b1, #a19f9f);
}

.imgContainer {
    width: 30%;
    float: left;
    height: 100%;
}

img {
    position: relative;
    top: -10px;
    width: 45%;
    height: 100px;
    left: 150px;
}

.lista {
    width: 40%;
    float: left;
    height: 100%;
}

.lista ul {
    list-style: none;
    float: left;
    position: relative;
    top: 15px;
    left: 130px;
}

.lista ul li {
    position: relative;
    float: left;
    padding: 0 5px;
    margin: 0 10px;
}

.lista ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}

.botao {
    width: 30%;
    float: left;
    height: 100%;
    right: 40px;
    z-index: 2;
}

.botao input,
button {
    position: relative;
    left: 50px;
    border-radius: 10px;
    top: 30px;
    width: 70%;
    height: 30px;
}

.botao button {
    width: 50px;
}


/*
FIM da Estilização da navbar
*/

.footer {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    position: absolute;
}

.texto {
    height: 20%;
    float: left;
    width: 55%;
    color: white;
    position: relative;
    left: 600px;
    top: 35px
}

.footImgCont {
    float: right;
    width: 25%;
    position: relative;
    top: 30px;
    left: 100px;
    height: 30%;
}

.footImgCont a {
    text-decoration: none;
}

.footImgCont a img {
    width: 10%;
    height: 100%;
    margin: 10px;
}


/*
FIM daEstilização do footer
*/

input,
textarea {
    border: none;
    margin: 3px;
    padding: 10px;
    width: 100%;
    height: 25%;
}

input:hover,
textarea:hover {
    background-color: rgb(243, 243, 243);
}

textarea {
    height: 35%;
}

button {
    background-color: var(--vermelho);
    border-radius: 30px;
    left: 0;
    border: none;
    height: 35px;
    color: var(--branco);
    width: 100%;
}

.item01 button {
    top: 0;
    position: relative;
}

button:hover {
    box-shadow: 1px 1px 5px 1px black;
    color: var(--branco);
}

.container {
    background-color: rgb(221, 221, 221);
    border-radius: 30px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
    height: 950px;
}

.item01 {
    width: 100%;
    padding: 10px;
}

.item02 {
    display: flex;
    border-radius: 15px;
    width: 100%;
    height: 85%;
    margin: 180px 10px 5px 1px;
}

iframe {
    border-radius: 25px;
    border: none;
    width: 100%;
    height: 98%;
}